



.logo {
    font-family: var(--text-heading), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }

  #hamburger-menu {

    display: none;
  }



  
a {
    color: rgb(0, 0, 0);
  }
  #logo
  
  {
  
    width: 8vw;
    min-width: 80px;
    height: auto;
  }
  
  .grid {
      display: grid;
      grid-template-columns: 29vw 29vw 29vw;
      grid-template-rows: auto;
    
      box-sizing: border-box;
      width: 60vw;
      height: 100vh;
      margin-left: auto;
      margin-right: auto;
    
      background: rgba(114, 186, 94, 0.05);
      border: 2px dashed rgba(114, 186, 94, 0.35);
      justify-content: space-evenly;
      justify-items: center;
      align-content: space-evenly;
      align-items: center;
  
    }
    
    .column {
      box-sizing: border-box;
      width: 25vw;
      height: 40vh;
     
      background: rgba(0, 0, 0, 0.863);
      border: 2px dashed rgba(236, 198, 48, 0.5);
    }
  
    h1 {
      background-color: rgb(190, 91, 157);
      color: white;
      padding: 10px;
     
   
  
      text-align: center;
      left: 0;
      right: 0;
      justify-content: center;
      align-items: center;
      display: grid;
      position: relative;
      margin-right: 0;
      margin: 0 auto;
    
      margin-bottom: 60px;
      min-width: 200px;
      max-width: 20px;
    
  
      font-family: 'Domine', serif;
  
      font-family: 'Lato', sans-serif;
  
      font-family: 'Playfair Display', serif;
  
      font-family: 'Prompt', sans-serif;
  
      font-family: 'Arapey', serif;
  
    }
  
    #column1 {
      background-image: url(../images/lilPeepYellow.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
  
    }
  
    #column1 {
      background-image: url(../images/lilPeepYellow.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
  
    }
  
    #column2 {
      background-image: url(../images/lilPeepYellow.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
  
    }
  
    #column3 {
      background-image: url(../images/lilPeepYellow.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
  
    }
  
    #column4 {
      background-image: url(../images/lilPeepYellow.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
  
    }
  
    #column5 {
      background-image: url(../images/lilPeepYellow.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
  
    }
  
    #column6 {
      background-image: url(../images/lilPeepYellow.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  
  
    }

    h2 {

      font-size: 25px;
       


    }

    h3 {

      text-align: center;
      background-color: rgb(237, 121, 100);
   
      margin-top: 20vh;
      margin-bottom: 20vh;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      
       
    }

    .h21{
      padding: 20px;
      margin-top: 13vh;

    }

    .h22 {

     padding: 20px;
     margin-top: 13vh;
    }